{% extends 'site/layout/base.html' %}

{% block content %}

    <div class="breadcrumb-area bread-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-title text-center">
                        <h1>Articles Details</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Area  -->

    <div class="blog-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-12">
                    <div class="single-blog-wrap">
                        <img src="{{ url_for('static', filename='site/images/lenku.jpg') }}" alt="">
                        <div class="blog-meta">
                            {#							<span><i class="las la-user"></i>Admin</span>#}
                            {#							<span><i class="las la-calendar"></i>May 01, 2020</span>#}
                            {#							<span><i class="las la-comments"></i>2 Comments</span>#}
                        </div>
                        <h3> Courtesy visit by Hon. Joseph Ole Lenku , <b>Governor ,Kajiado County </h3>
                        <p>On the 28 th of May 2020 we received Hon. Joseph Ole Lenku , our Governor -Kajaido County and
                            his
                            delegation who paid us a courtesy visit. His main agenda was to express his gratitude for
                            the service and
                            interventions that the Centre has been doing for our local community –care for children and
                            youth with
                            intellectual disabilities and our response during this global pandemic where he lauded our
                            daily feeding
                            program for 200 needy children, food relief to 352 families and support to Ole Kasasi Health
                            Centre in
                            the acquisition of medical equipment.
                        </p>



                    </div>


                </div>
                {#                <div class="col-lg-4 col-md-12">#}
                {#                    <aside class="sidebar">#}
                {#                        <div class="blog-search">#}
                {#                            <form action="#">#}
                {#                                <input type="search" placeholder="Search here">#}
                {#                                <button type="submit"><i class="las la-search"></i>search</button>#}
                {#                            </form>#}
                {#                        </div>#}
                {#                        <div class="blog-category">#}
                {#                            <h5>Categories</h5>#}
                {#                            <a class="active" href="l#">Education</a>#}
                {#                            <a href="#">Medical</a>#}
                {#                            <a href="#">Health</a>#}
                {#                            <a href="#">Food &amp; Drinks</a>#}
                {#                            <a href="#">Donation</a>#}
                {#                        </div>#}
                {#                        <div class="recent-post">#}
                {#                            <h5>Recent Post</h5>#}
                {#                            <div class="single-recent-post">#}
                {#                                <img src="assets/img/recent-post-bg.jpg" alt="">#}
                {#                                <div class="recent-post-content">#}
                {#                                    <h6><a href="ml">Awareness of COVID-19 effect</a></h6>#}
                {#                                    <p class="post-date"><i class="las la-calendar"></i>August 10, 2019</p>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <div class="single-recent-post">#}
                {#                                <img src="assets/img/recent-post-bg-2.jpg" alt="">#}
                {#                                <div class="recent-post-content">#}
                {#                                    <h6><a href="ml">Raise Fund for Healthy Food &amp; Drinks</a></h6>#}
                {#                                    <p class="post-date"><i class="las la-calendar"></i>August 10, 2019</p>#}
                {#                                </div>#}
                {#                            </div>#}
                {##}
                {#                            <div class="single-recent-post">#}
                {#                                <img src="assets/img/recent-post-bg-3.jpg" alt="">#}
                {#                                <div class="recent-post-content">#}
                {#                                    <h6><a href="ml">Corona effected community awareness</a></h6>#}
                {#                                    <p class="post-date"><i class="las la-calendar"></i>August 10, 2019</p>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <div class="archive">#}
                {#                            <h5>Archive</h5>#}
                {#                            <a href="#">Food Fund</a>#}
                {#                            <a href="#">Medical Checkup</a>#}
                {#                            <a href="#">Child Care</a>#}
                {#                            <a href="#">Pure Water</a>#}
                {#                            <a href="#">Covid-19</a>#}
                {#                        </div>#}
                {#                        <div class="popular-tag">#}
                {#                            <h5>Popular Tags</h5>#}
                {#                            <span><a href="#">health</a></span>#}
                {#                            <span><a href="#">donation</a></span>#}
                {#                            <span><a href="#">fund</a></span>#}
                {#                            <span><a href="#">charity</a></span>#}
                {#                            <span><a href="#">covid-19</a></span>#}
                {#                            <span><a href="#">non-profit</a></span>#}
                {#                        </div>#}
                {#                    </aside>#}
                {#                </div>#}
            </div>
        </div>
    </div>

{% endblock %}