{% extends 'site/layout/base.html' %}

{% block content %}

    <div class="breadcrumb-area bread-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-title text-center">
                        <h1>Articles Details</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Area  -->

    <div class="blog-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-12">
                    <div class="single-blog-wrap">
                        <img src="{{ url_for('static', filename='site/images/covid-19.jpg') }}" alt="">
                        <div class="blog-meta">
                        </div>
                        <h3>OCT Kenya response to COVID-19 pandemic</h3>
                        <p>Since the 13 th of March 2020, when the Government of Kenya announced the first positive case
                            of Covid -19 , the Centre in
                            collaboration with local authorities and Ole Kasasi health Centre embarked on an aggressive
                            public and awareness and sensitization
                            campaign within the local community of Kandisi. We prepared and distributed hand sanitizers,
                            bar soaps and informative posters to
                            our people.<br>
                            However, we have witnessed a growing need for personal protective equipment and food as a
                            result of the night curfew in place and
                            restriction of movement all contributors of a poor economy as a result of the pandemic.</p>
                        <p>
                            With this situation and with the increased approach for help from our local community
                            member’s, we presented an emergency
                            proposal to Hickey Family Foundation in America to help us respond to this pandemic.</p>
                        <p>
                            This project was approved and on the 8 th of May 2020, Don Orione Centre Kenya in
                            collaboration with local authorities, responded to
                            the Covid -19 pandemic in our local community of Kandisi by;</p>


                        <h5>A. Distributing food relief packs to 352 poor and vulnerable families</h5>
                        <p>These families were identified through home visits by our volunteers and each was issued with
                            a food voucher. These families were grouped as follows:</p>
                        <ol type="i">
                            <li>Small scale women market vendors</li>
                            <li>Families with special children</li>
                            <li>Motorbike’s and tuk tuk (three wheeled bikes) riders</li>
                            <li>Women ballast crushers</li>
                            <li>Sand off loaders</li>
                            <li>Poor families within our parish and neighborhood (Kandisi)</li>
                            <li>Christian Hands children’s home</li>
                        </ol>
                        <p>Each of these families received;</p>
                        <h6>1. Food pack containing;</h6>
                        <ol type="i">
                            <li>5 Kgs of maize flour</li>
                            <li>5 Kgs of maize flour</li>
                            <li>9 Kgs of rice</li>
                            <li>9 Kgs of rice</li>
                            <li>4 Kgs of sugar</li>
                            <li>4 Kgs of sugar</li>
                        </ol>

                        <h6>2. Hygiene pack containing;</h6>
                        <ol type="i">
                            <li>2 bars of soap</li>
                            <li>5 Kgs of maize flour</li>
                            <li>1 liter of bleach(sodium hypochlorite)</li>
                            <li>2 re-usable protective face masks for 100 motorbike and tuk tuk riders</li>
                        </ol>
                        <img class="blog-inside" src="{{ url_for('static', filename='site/images/give-1.jpg') }}" alt="">
                        <img class="blog-inside" src="{{ url_for('static', filename='site/images/give-2.jpg') }}" alt="">

                        <h5>B. Support to a health Centre – Ole Kasasi Health Centre with medical and personal protective
                            equipment and materials ;</h5>

                        <p>Ole Kasasi Health Centre is one of the seven Health Center’s in Kajiado County and is the
                            only one in Kajiado North sub-county and was set up in the year 2019 by the County
                            Government Kajiado to serve a public population of 365,196 as projected by the Kenya Bureau
                            of Statistics in the year 2018.</p>
                        <p>A majority of this population is from poor and humble family backgrounds with many of them being pastoralists’ and casual laborers who work in surrounding construction sites and quarries.</p>

                        <p>The first positive case of Covid -19 was reported within its area of service and after series joint campaigns to create public awareness about the pandemic within our community we realized that the facility was in urgent need of equipment and personal protective materials for it to be able to manage better the virus.</p>
                        <p>
                            The Health Centre made a formal approach to the Centre through Mr. Simon Mayaten who is the Nurse in Charge for the possibility to get assistance to purchase specific medical equipment and personal protective materials that would in turn help them in responding better to the pandemic.</p>
                        <p>
                            We, Don Orione Centre with the help of Hickey Family Foundation were able to purchase and handover the following below medical and protective equipment and materials to Ole Kasasi Health Centre as follows;
                        </p>


                        <table class="mb-5" style="width:100%">
                            <tr>
                                <th></th>
                                <th>Items</th>
                                <th>Quantity</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Special protective masks - FFP3</td>
                                <td>20 pcs</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Safety googles</td>
                                <td>30 pcs</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Aprons </td>
                                <td>15 pcs</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Plastic bags for infectious waste</td>
                                <td>300 pcs</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Pulse oximeter</td>
                                <td>3 pcs</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Oxygen concentrator</td>
                                <td>1 unit</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Infrared thermometer</td>
                                <td>2 pcs</td>
                            </tr>

                            <tr>
                                <td>8</td>
                                <td>oxygen therapy equipment’s -Nasal prongs and oxygen masks</td>
                                <td>30 pcs</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Oxygen therapy equipment’s -Nebulizer</td>
                                <td>5 units</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Oxygen therapy equipment’s- Flow meters</td>
                                <td>5 units</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Oxygen  therapy equipment’s -humidifier</td>
                                <td>5 units</td>
                            </tr>

                            <tr>
                                <td>12</td>
                                <td>Gumboots  for health workers</td>
                                <td>20 pairs</td>
                            </tr>

                            <tr>
                                <td>13</td>
                                <td>Heavy gloves for health workers</td>
                                <td>15 pcs</td>
                            </tr>

                            <tr>
                                <td>14</td>
                                <td>Liquid soap (containers of 20 liters each)</td>
                                <td>2 jerrycans</td>
                            </tr>

                            <tr>
                                <td>15</td>
                                <td>Hand Sanitizer (containers of 5 liters each)</td>
                                <td>10 units</td>
                            </tr>

                        </table>
                        <img class="blog-inside" src="{{ url_for('static', filename='site/images/give-4.jpg') }}" alt="">
                        <img class="blog-inside" src="{{ url_for('static', filename='site/images/covid-bg.jpg') }}" alt="">


                        <h5>B1. Support with hygiene items to other institutions in our community – Local police stations, Christian Hands children home and Don Orione Centre</h5>

                          <table class="mb-5" style="width:100%">
                            <tr>
                                <th width="25"></th>
                                <th>Items</th>
                                <th>Quantity</th>
                                <th>Designation</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Liquid soap (containers of 20 liters each)</td>
                                <td>2 jerrycans</td>
                                <td>Ole Kasasi and Ongata Rongai Police stations</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Hand sanitizers (containers of 5 liters each)</td>
                                <td>4 containers</td>
                                <td>Ole Kasasi and Ongata Rongai Police stations</td>
                            </tr>

                              <tr>
                                <td>3</td>
                                <td>Liquid soap (containers of 20 liters each)</td>
                                <td>1 jerrycans</td>
                                <td>Ole Kasasi and Ongata Rongai Police stations</td>
                            </tr>

                              <tr>
                                <td>4</td>
                                <td>Hand sanitizers (containers of 5 liters each)</td>
                                <td>1 container</td>
                                <td>Ole Kasasi and Ongata Rongai Police stations</td>
                            </tr>

                              <tr>
                                <td>5</td>
                                <td>Surgical masks</td>
                                <td>200 pcs</td>
                                <td>Don Orione Centre for re-distribution in the community</td>
                            </tr>

                              <tr>
                                <td>6</td>
                                <td>Gumboots for farmers</td>
                                <td>10 pairs</td>
                                <td>Don Orione Centre for re-distribution in the community</td>
                            </tr>

                              <tr>
                                <td>7</td>
                                <td>Gloves</td>
                                <td>40 packets</td>
                                <td>Don Orione Centre for re-distribution in the community</td>
                            </tr>

                              <tr>
                                <td>8</td>
                                <td>Hand sanitizers (containers of 5 liters each)</td>
                                <td>20 containers</td>
                                <td>Don Orione Centre for re-distribution in the community</td>
                            </tr>



                        </table>
                         <img class="blog-inside" src="{{ url_for('static', filename='site/images/blog-police.jpg') }}" alt="">
                        <img class="blog-inside" src="{{ url_for('static', filename='site/images/give-5.jpg') }}" alt="">



                        <img class="blog-inside" src="assets/img/blog-bg-1.jpg" alt="">
                        <img class="blog-inside" src="assets/img/blog-bg-2.jpg" alt="">

                        <h5>C. CONCLUSION</h5>
                        <p>This help will go a long way to easing the difficult times that we are in and we grateful to Hickey Family Foundation for enabling us carry out this response and trusting in us.</p>

{#                        #}

                    </div>



                </div>
{#                <div class="col-lg-4 col-md-12">#}
{#                    <aside class="sidebar">#}
{#                        <div class="blog-search">#}
{#                            <form action="#">#}
{#                                <input type="search" placeholder="Search here">#}
{#                                <button type="submit"><i class="las la-search"></i>search</button>#}
{#                            </form>#}
{#                        </div>#}
{#                        <div class="blog-category">#}
{#                            <h5>Categories</h5>#}
{#                            <a class="active" href="l#">Education</a>#}
{#                            <a href="#">Medical</a>#}
{#                            <a href="#">Health</a>#}
{#                            <a href="#">Food &amp; Drinks</a>#}
{#                            <a href="#">Donation</a>#}
{#                        </div>#}
{#                        <div class="recent-post">#}
{#                            <h5>Recent Post</h5>#}
{#                            <div class="single-recent-post">#}
{#                                <img src="assets/img/recent-post-bg.jpg" alt="">#}
{#                                <div class="recent-post-content">#}
{#                                    <h6><a href="ml">Awareness of COVID-19 effect</a></h6>#}
{#                                    <p class="post-date"><i class="las la-calendar"></i>August 10, 2019</p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="single-recent-post">#}
{#                                <img src="assets/img/recent-post-bg-2.jpg" alt="">#}
{#                                <div class="recent-post-content">#}
{#                                    <h6><a href="ml">Raise Fund for Healthy Food &amp; Drinks</a></h6>#}
{#                                    <p class="post-date"><i class="las la-calendar"></i>August 10, 2019</p>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="single-recent-post">#}
{#                                <img src="assets/img/recent-post-bg-3.jpg" alt="">#}
{#                                <div class="recent-post-content">#}
{#                                    <h6><a href="ml">Corona effected community awareness</a></h6>#}
{#                                    <p class="post-date"><i class="las la-calendar"></i>August 10, 2019</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="archive">#}
{#                            <h5>Archive</h5>#}
{#                            <a href="#">Food Fund</a>#}
{#                            <a href="#">Medical Checkup</a>#}
{#                            <a href="#">Child Care</a>#}
{#                            <a href="#">Pure Water</a>#}
{#                            <a href="#">Covid-19</a>#}
{#                        </div>#}
{#                        <div class="popular-tag">#}
{#                            <h5>Popular Tags</h5>#}
{#                            <span><a href="#">health</a></span>#}
{#                            <span><a href="#">donation</a></span>#}
{#                            <span><a href="#">fund</a></span>#}
{#                            <span><a href="#">charity</a></span>#}
{#                            <span><a href="#">covid-19</a></span>#}
{#                            <span><a href="#">non-profit</a></span>#}
{#                        </div>#}
{#                    </aside>#}
{#                </div>#}
            </div>
        </div>
    </div>

{% endblock %}