{% extends 'site/layout/base.html' %}

{% block content %}

    <div class="breadcrumb-area bread-bg-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-title text-center">
                        <h1>Advisory Board</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Team Area -->

    <div class="team-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-content text-center">
                        <div class="image">
                            <a href="#RachaelModal" data-toggle="modal">
                                <img src="{{ url_for('static', filename='site/images/nakitare.jpg') }}" alt="image">
                            </a>
                        </div>
                        <div class="content">
                            <div class="team-title">
                                <a href="#RachaelModal" data-toggle="modal">Racheal Nakitare</a>
                            </div>
                            <div class="team-subtitle">
                                <p>Chairperson<br>
                                    Programs Manager at KBC</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="RachaelModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="height:600px !important;">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><b>Racheal Nakitare</b> - is the Assistant Television Programmes
                                    Manager at Kenya Broadcasting Corporation. She is the
                                    current chair of the Advisory Board.Her experience in the
                                    media industry spans over 30 years where she has worked on
                                    local and international media projects. She holds a Master&#39;s in
                                    Communication studies and also studied New Media and
                                    Conflict Transformation at Philip Merril School of Journalism,
                                    University of Maryland under the prestigious Hubert Humphrey
                                    fellowship. She is a Knight journalism fellow, trained Coaching
                                    and Leadership mentor, church council leader and former
                                    President of the International Association of Women in Radio
                                    and Television(IAWRT). She is passionate about gender
                                    equality, women empowerment, children’s rights and
                                    humanity. She has played a leading role in gender research
                                    studies and training women leaders in Kenya. She sits on the
                                    Advisory board of Orione children’s centre , IAWRT kenya, and

                                    represents Ethical Journalism Network in Africa.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-content text-center">
                        <div class="image">
                            <a href="#AlexModal" data-toggle="modal">
                                <img src="{{ url_for('static', filename='site/images/fr-alex.jpeg') }}" alt="image">
                            </a>
                        </div>
                        <div class="content">
                            <div class="team-title">
                                <a href="#AlexModal" data-toggle="modal">Fr. Carlos Alejandro</a>
                            </div>
                            <div class="team-subtitle">
                                <p>Director</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="AlexModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="height:600px !important;">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><b>Fr. Carlos Alejandro</b> – Is a Chilean Catholic Priest
                                    under the Congregation of the Sons of Divine
                                    Providence for the last 19 years with a professional
                                    background as an accountant. For the last 18 years
                                    he has worked in the capacity of Director at Centre’s
                                    for children with intellectual disabilities in Chile,
                                    Philippines and currently in Kenya (Kandisi and
                                    Kaburugi) at Orione Community Training Centre.
                                    Under his directorship, the Centre’s in Kenya have
                                    witnessed progress especially in the care and
                                    inclusion of persons with disabilities with a strong
                                    involvement of the local community through
                                    educational, rehabilitation, training, and awareness
                                    creation and integration programs. Most specifically,
                                    17 special youth have been trained in horticultural
                                    farming and employed .Additionally, the Centre has
                                    been recognized by the United Nations Special
                                    Envoy on Disability Prof. Maria Soledad and H.E. The
                                    First Lady of Chile Cecilia Morrel for the efforts
                                    towards the promotion of the lives of persons living
                                    with disabilities.</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-content text-center">
                        <div class="image">
                            <a href="#RichardModal" data-toggle="modal">
                                <img src="{{ url_for('static', filename='site/images/richard1.jpg') }}" alt="image">
                            </a>
                        </div>
                        <div class="content">
                            <div class="team-title">
                                <a href="#RichardModal" data-toggle="modal">Richard Magana</a>
                            </div>
                            <div class="team-subtitle">
                                <p>Secretary <br> Project Manager</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="RichardModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="height:600px !important;">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><b>Richard Magana</b> – is the project manager at
                                    Orione Community Training Centre for the last 6
                                    years with professional background in Project
                                    Management and Human Resources Management.
                                    He is also a member of its Advisory Board. Richard
                                    over the years has been able to successfully develop
                                    and implement grants in line with donor
                                    requirements in the areas of development
                                    ,education, rehabilitation and training .He is jointly
                                    certified as Project Manager and Fundraiser by
                                    Proclade Internazionale Onlus (Rome), Mission
                                    Project Service(USA) and the Institute of Theology
                                    of Consecrated Life Claretianum (Rome).</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-content text-center">
                        <div class="image">
                            <a href="#RolandoModal" data-toggle="modal">
                                <img src="{{ url_for('static', filename='site/images/rolando.png') }}" alt="image">
                            </a>
                        </div>
                        <div class="content">
                            <div class="team-title">
                                <a href="#RolandoModal" data-toggle="modal"> Rolando Satzke</a>
                            </div>
                            <div class="team-subtitle">
                                <p>Member<br> Global Head at Novatis Social Business</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="RolandoModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="height:600px !important;">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe src="https://docs.google.com/document/d/e/2PACX-1vSdDo9unxIx4CFs-ZMAdyRP6sH6ocJOfNDucTvJ5RcS0ZO5Euswt1wQ7_Vri4HU959h-xvOx66OYULs/pub?embedded=true"
                                        style="width:100%; height: 100%;border: none;"></iframe>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-content text-center">
                        <div class="image">
                            <a href="#LopezModal" data-toggle="modal">
                                <img src="{{ url_for('static', filename='site/images/professor-francisco.jpg') }}"
                                     alt="image"></a>
                        </div>
                        <div class="content">
                            <div class="team-title">
                                <a href="#LopezModal" data-toggle="modal">Professor Francisco B. Lopez-Jurado</a>
                            </div>
                            <div class="team-subtitle">
                                <p>Member<br> Dean at Strathmore </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="LopezModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="height:600px !important;">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe src="https://docs.google.com/document/d/e/2PACX-1vR8gEFkmnP8WPYRYS2lWz_dB42NKbiAlWPAEJMGsiScscHE4OA-RbAG6wgdE2chZqyh6yZ0I2dYXP7L/pub?embedded=true"
                                        style="width:100%; height: 100%;border: none;"></iframe>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-content text-center">
                        <div class="image">
                            <a href="#ManyaraModal" data-toggle="modal">
                                <img src="{{ url_for('static', filename='site/images/manyara.jpg') }}" alt="image">
                            </a>
                        </div>
                        <div class="content">
                            <div class="team-title">
                                <a href="#ManyaraModal" data-toggle="modal">Manyara Reginald Mworia</a>
                            </div>
                            <div class="team-subtitle">
                                <p>Member<br>Lawyer</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="ManyaraModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="height:600px !important;">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe src="https://docs.google.com/document/d/e/2PACX-1vSqKYKCyRJ-jT-nsW7nT_2oLUG3ClAkV1hQJ4KfUrApa5U_YW6eLyqeMEffQB6PrSzhJWp4kLI87L_y/pub?embedded=true"
                                        style="width:100%; height: 100%;border: none;"></iframe>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-content text-center">
                        <div class="image">
                            <a href="#DioneModal" data-toggle="modal">
                                <img src="{{ url_for('static', filename='site/images/dione.jpg') }}" alt="image">
                            </a>
                        </div>
                        <div class="content">
                            <div class="team-title">
                                <a href="#DioneModal" data-toggle="modal">Dione Chaves Ramirez</a>
                            </div>
                            <div class="team-subtitle">
                                <p>Member<br>Lawyer</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="DioneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="height:600px !important;">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Dione Chaves Ramirez, from Costa Rica currently living in Kenya for the past,
                                    for 8 years.<br>
                                    My qualifications are in education and law where I have A bachelor&#39;s degree in
                                    Middle Education.<br>
                                    A bachelor´s degree in Law.<br>
                                    A Master’s degree in Law<br>
                                    A Master&#39;s degree in Notary</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-content text-center">
                        <div class="image">
                            <a href="#anthonyModal" data-toggle="modal">
                                <img src="{{ url_for('static', filename='site/images/anthony.jpg') }}" alt="image">
                            </a>
                        </div>
                        <div class="content">
                            <div class="team-title">
                                <a href="#anthonyModal" data-toggle="modal">Anthony Kahindi</a>
                            </div>
                            <div class="team-subtitle">
                                <p>Member<br>University Secretary</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="anthonyModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="height:600px !important;">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><b>MR. Anthony Kahindi</b> - is currently the University
                                    Secretary, Strathmore University.
                                    Prior to his appointment as the University Secretary, Mr.
                                    Kahindi was the Executive Director of Finance,
                                    Strathmore University.
                                    He has also served as Strathmore University Business
                                    School’s Director of Support and Administration.</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-content text-center">
                        <div class="image">
                            <a href="#IsabellaModal" data-toggle="modal">
                                <img src="{{ url_for('static', filename='site/images/isabella.jpeg') }}" alt="image">
                            </a>
                        </div>
                        <div class="content">
                            <div class="team-title">
                                <a href="#IsabellaModal" data-toggle="modal">Isabella Gómez Padua</a>
                            </div>
                            <div class="team-subtitle">
                                <p>Member<br> World Bank Contractor</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="IsabellaModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="height:600px !important;">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><b>Isabella Gómez Padua</b><br>
                                    Born and raised in Venezuela, South America and
                                    member of a five siblings household.
                                    From a young age she became an entrepreneur and
                                    helped others pursue educational and business skills.
                                    She is a finance professional with more than 20 years
                                    of experience in US corporate companies.
                                    Married and mother of three children, one of them
                                    autistic. Isabella is trained in Autism’s approaches to
                                    overcome communication challenges such as Floortime
                                    and RDI.<br>
                                    Lived in US, Colombia, Costa Rica and most recently in
                                    Kenya.<br>
                                    Currently working as contractor for the World Bank and
                                    delivering independent workshops to share financial
                                    skills with vulnerable communities in Kenya. Honored to
                                    be part of Orione’s Board of advisors.</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-content text-center">
                        <div class="image">
                            <a href="#KinyanjuiModal" data-toggle="modal">
                                <img src="{{ url_for('static', filename='site/images/kinyanjui.jpg') }}" alt="image">
                            </a>
                        </div>
                        <div class="content">
                            <div class="team-title">
                                <a href="#KinyanjuiModal" data-toggle="modal">Peter Kinyanjui</a>
                            </div>
                            <div class="team-subtitle">
                                <p>Member<br> Accountant</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="KinyanjuiModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="height:600px !important;">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe src="https://docs.google.com/document/d/e/2PACX-1vR23i0wEN8fJFin-e24tQoXdm3JrZsO8YdYAd5wNfVlxDpMMbyQORpZAqlCPoj-fDHMjQktD_eTmX_G/pub?embedded=true"
                                        style="width:100%; height: 100%;border: none;"></iframe>
                            </div>

                        </div>
                    </div>
                </div>

                 <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-content text-center">
                        <div class="image">
                            <a href="#KinyanjuiModal" data-toggle="modal">
                                <img src="{{ url_for('static', filename='site/images/franceschi.jpg') }}" alt="image">
                            </a>
                        </div>
                        <div class="content">
                            <div class="team-title">
                                <a href="#LuisModal" data-toggle="modal">Prof Luis G. Franceschi </a>
                            </div>
                            <div class="team-subtitle">
                                <p>Member<br> Senior Director, Governance & Peace at the Commonwealth Secretariat</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal fade" id="LuisModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="height:600px !important;">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><b>Prof Luis G. Franceschi</b>
                                 is the Senior Director, Governance & Peace at the Commonwealth Secretariat. He was the founding Dean of Strathmore University Law School, one of the most reputable and innovative law schools in Africa. As a thinker, educator and writer, he loves positive and disruptive innovation. He was the recipient of the 2019 legal excellence CB Madan Award and the 2018 Utumishi Bora National Award. In 2019, he was a visiting scholar at the University of Oxford and U.C. Berkeley Law School. He has been a legal advisor to several national and international government agencies, international and regional courts, the United Nations and the World Bank. He is a Kenyan citizen and now resides in London.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
