{% extends 'site/layout/base.html' %}

{% block content %}

    <!-- Breadcrumb Area -->

    <div class="breadcrumb-area bread-bg-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-title text-center">
                        <h1>Our <b>Events</b></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!--Events Area -->

	<div class="event-area section-padding">
		<div class="container">
			<div class="row">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-bg">
							<div class="section-absolute-bg absolute-bg-1">
							</div>
							<div class="row">
								<div class="offset-6 col-lg-6 col-md-6">
									<div class="single-event">
										<p class="event-date"><i class="las la-calendar-check"></i>May 12, 2020</p>
										<h6>Distributing food relief packs to 352 poor and vulnerable families</h6>
										<p class="event-meta"> <i class="las la-map-marker"></i> </span> <span>Kandisi</span> </p>
										<p>The Centre in
collaboration with local authorities and Ole Kasasi health Centre embarked on an aggressive public and ...</p>
										<a href="event.html">Learn More</a>
									</div>
								</div>
							</div>
						</div>

					</div>

{#					<div class="col-lg-12">#}
{#						<div class="section-bg bg-2">#}
{#							<div class="section-absolute-bg absolute-bg-3">#}
{#							</div>#}
{#							<div class="row">#}
{#								<div class="col-lg-6 col-md-6">#}
{#									<div class="single-event">#}
{#										<p class="event-date"><i class="las la-calendar-check"></i>June 05, 2020</p>#}
{#										<h6>Fundering the helpless people</h6>#}
{#										<p class="event-meta"> <i class="las la-clock"></i> <span>10.00 a.m. | <i class="las la-map-marker"></i> </span> <span>Ryans Square</span> </p>#}
{#										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quis omnis dolor</p>#}
{#										<a href="event.html">Learn More</a>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
				</div>

{#				<div class="row">#}
{#					<div class="col-lg-12">#}
{#						<div class="section-bg">#}
{#							<div class="section-absolute-bg absolute-bg-2">#}
{#							</div>#}
{#							<div class="row">#}
{#								<div class="offset-6 col-lg-6 col-md-6">#}
{#									<div class="single-event">#}
{#										<p class="event-date"><i class="las la-calendar-check"></i>, 2020</p>#}
{#										<h6>Water Purify Campaign</h6>#}
{#										<p class="event-meta"> <i class="las la-clock"></i> <span>09.00 a.m. | <i class="las la-map-marker"></i> </span> <span>Midpoint Center</span> </p>#}
{#										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quis omnis dolor</p>#}
{#										<a href="event.html">Learn More</a>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{##}
{#					</div>#}
{##}
{#					<div class="col-lg-12">#}
{#						<div class="section-bg bg-2">#}
{#							<div class="section-absolute-bg absolute-bg-4">#}
{#							</div>#}
{#							<div class="row">#}
{#								<div class="col-lg-6 col-md-6">#}
{#									<div class="single-event">#}
{#										<p class="event-date"><i class="las la-calendar-check"></i>August 05, 2020</p>#}
{#										<h6>Nutritution Fact on child</h6>#}
{#										<p class="event-meta"> <i class="las la-clock"></i> <span>10.00 a.m. | <i class="las la-map-marker"></i> </span> <span>Redcross Circle</span> </p>#}
{#										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quis omnis dolor</p>#}
{#										<a href="event.html">Learn More</a>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
			</div>
		</div>
	</div>


{% endblock %}