{% extends 'site/layout/base.html' %}

{% block content %}

    <div class="breadcrumb-area bread-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-title text-center">
                        <h1>Articles Details</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Area  -->

    <div class="blog-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-12">
                    <div class="single-blog-wrap">
                        <img src="{{ url_for('static', filename='site/images/mou-signing-1.jpg') }}" alt="">

                        <div class="blog-meta">

                        </div>
                        <h3>MOU signing /COVID -19 RESPONSES – Joint emergency intervention for students with mental
                            conditions and syndromes</h3>
                        <p>On the 11 th of August 2020, Don Orione Centre and the County Government of Kajiado entered
                            into a Memorandum of understanding that was signed by Ms. Florence Waiganjo CECM-
                            Gender, Social Services, Culture, Tourism and Wildlife and Fr. Alejandro Ruiz, Director -Don
                            Orione Centre .This MOU was witnessed by H.E. Martine Moshisho –Deputy Governor, Kajiado
                            County
                        </p>
                        <p>
                            This MOU sets in motion a joint 4 months (September 2020 to December 2020 )COVID-19 joint
                            emergency intervention program for children and youth with mental conditions and syndromes
                            who are now at home without access to rehabilitation, education and training a situation
                            that
                            puts them at risk of regression.
                        </p>

                        <p>
                            The impact of COVID-19 is likely to be worse for people in lower socio-economic groups, and
                            children with disabilities face an even greater risk of being left behind and regressing.
                        </p>

                        <p>
                            In front of this complex reality, we have identified three main areas of need;
                        </p>

                        <h5>
                            A. Children with special needs are at home without access, not only to education, but
                            also rehabilitation, stimulations and balanced diet.
                        </h5>

                        <p>
                            With schools shut down until next year, children are at risk particularly those with special
                            educational needs and disabilities as they are likely to regress on the progress that they
                            had
                            made in education, rehabilitation and skill based training before the pandemic and over the
                            past
                            years.
                        </p>

                        <p>
                            This is a vulnerable group that requires specialized, time sensitive education and support
                            and
                            unfortunately wide scale, specialized programs are not available to them and generic
                            homeschooling and e-learning solutions may not be suitable and accessible.
                        </p>
                        <p>
                            The risk of regression is also very high on areas like physical mobility, independent life
                            and
                            communication in addition to emotional and behavioral regression due to lack of access to
                            rehabilitation services and individualized programs.
                        </p>

                        <h5>
                            B. Need of relief for parents and guardians with children with special needs and
                            conditions.
                        </h5>

                        <p>
                            Before the pandemic, parents normally had the support of caregivers, teachers and from
                            organizations like our Centre, so parents were able to engage in other different activities
                            to
                            support the financial need of their families.
                        </p>
                        <p>
                            Also for children with special educational needs and disability, to attend activities and to
                            move
                            outside of the house is an important element for the rehabilitation process and social
                            activities
                            are fundamental in the process of stimulation and inclusion.
                        </p>
                        <p>
                            Currently face-to-face contact lessons with caregivers and teachers are not available due to
                            the
                            restriction put in place to mitigate against the pandemic. This puts a strain on the parents
                            who
                            have to sacrifice their working time to spend with their children. Additionally, some
                            children are
                            losing access to networks of support, leaving them vulnerable to isolation.
                        </p>
                        <p>
                            The pandemic is already placing stress on many Kenyan families. But parents who have
                            children with special education needs and disability face even greater stress. Without
                            adequate
                            support, considering many of these families have a very poor social background, leaving in
                            small rooms, no access to open areas, with a child with special condition is a real stressed
                            situation we need to consider urgently.
                        </p>

                        <h5>
                            C. Financial relief for private special school teachers
                        </h5>
                        <p>
                            With the schools closed and in addition to challenges faced by students with special need,
                            private teachers have also been greatly affected.
                        </p>
                        <p>
                            Currently, many of them have been laid off without pay or on forced leave without pay
                            thereby
                            making them struggle to provide for themselves and their dependents.
                        </p>
                        <p>
                            The risk of hunger and shelter is now becoming a reality for these professionals who are in
                            this
                            sector of education. Additionally many of them are facing stress and depression due to
                            uncertainties about the future and stigmatization from the community due to their imminent
                            poverty.
                        </p>
                        <p>
                            Through this joint emergency program, we will have prevented regression in the lives of 360
                            students with special needs ; additionally give relief to over 360 parents/guardians and 20
                            teachers who are also affected by the consequence of this pandemic.
                        </p>
                        <p>
                            This will help ensure that we have not left behind persons with disabilities as we fight
                            against
                            this pandemic.
                        </p>


                    </div>


                </div>

            </div>
        </div>
    </div>

{% endblock %}